body {
  margin: 0;
  background-image: url('./img/greendragoninn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: rgb(3, 87, 7);
}

.btn:Hover {
  transition: 1s;
  color: rgb(24, 18, 104);
}

.btn {
  margin: .1rem;
}

h2, h3, h4, p {
  text-align: center;
  color: whitesmoke;
}

.header {
  background-color: black;
}