body {
  margin: 0;
  background-image: url('./components/img/greenDragonInn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: rgb(3, 87, 7);
  font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.btn:Hover {
  transition: 1s;
}

.btn {
  margin: .1rem;
  align-content: center;
}

h2, h3, h4, p {
  text-align: center;
  color: whitesmoke;
}

.form {
  text-align: center;
}

.display {
  align-content: center;
  text-align: center;
}

.threed:hover
{
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
}